<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<add name="MSS_DBEntities" connectionString="metadata=res://*/DataContext.mss.mss.csdl|res://*/DataContext.mss.mss.ssdl|res://*/DataContext.mss.mss.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=MSS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="OPS_DBEntities" connectionString="metadata=res://*/DataContext.ops.ops.csdl|res://*/DataContext.ops.ops.ssdl|res://*/DataContext.ops.ops.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=OPS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MSS_DBEntities" connectionString="metadata=res://*/DataContext.mss.mss.csdl|res://*/DataContext.mss.mss.ssdl|res://*/DataContext.mss.mss.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=MSS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CIS_DBEntities" connectionString="metadata=res://*/DataContext.cis.cis.csdl|res://*/DataContext.cis.cis.ssdl|res://*/DataContext.cis.cis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=CIS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;Connection Timeout=20;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AMS_DBEntities" connectionString="metadata=res://*/DataContext.ams.ams.csdl|res://*/DataContext.ams.ams.ssdl|res://*/DataContext.ams.ams.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=AMS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;Connection Timeout=20;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="LPS_DBEntities" connectionString="metadata=res://*/DataContext.lps.lps.csdl|res://*/DataContext.lps.lps.ssdl|res://*/DataContext.lps.lps.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=LPS_DB;persist security info=True;user id=devUser;password=devUser123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="STSEntities" connectionString="metadata=res://*/DataContext.sts.sts.csdl|res://*/DataContext.sts.sts.ssdl|res://*/DataContext.sts.sts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=STS;user id=devUser;password=devUser123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <connectionStrings>
    <add name="CIS_DBEntities" connectionString="metadata=res://*/DataContext.cis.cis.csdl|res://*/DataContext.cis.cis.ssdl|res://*/DataContext.cis.cis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=CIS_DB;persist security info=True;user id=devUser;multipleactiveresultsets=True;connect timeout=20;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MSS_DBEntities" connectionString="metadata=res://*/DataContext.mss.mss.csdl|res://*/DataContext.mss.mss.ssdl|res://*/DataContext.mss.mss.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=MSS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;connect timeout=20;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMS_DBEntities" connectionString="metadata=res://*/DataContext.ams.ams.csdl|res://*/DataContext.ams.ams.ssdl|res://*/DataContext.ams.ams.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=AMS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;connect timeout=20;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="STSEntities" connectionString="metadata=res://*/DataContext.sts.sts.csdl|res://*/DataContext.sts.sts.ssdl|res://*/DataContext.sts.sts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=STS_DB;persist security info=True;user id=devUser;password=devUser123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>