<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  
  <add name="AMS_DBEntities" connectionString="metadata=res://*/DataContext.ams.AMS_DB.csdl|res://*/DataContext.ams.AMS_DB.ssdl|res://*/DataContext.ams.AMS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.3;initial catalog=AMS_DB;persist security info=True;user id=devUser;password=devUser123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>