@{
    ViewBag.Title = "EditProFile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">GALAGALA Media - Edit Profile</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>               
                <li class="active">Edit Profile</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>

<!-- Page Header -->
