@{
    ViewBag.Action = "Ad Index";
    ViewBag.Controller = "Ad";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Page Header -->
<div class="page-header page-header-block">
    <div class="page-header-section">
        <h4 class="title semibold">Ad</h4>
    </div>
    <div class="page-header-section">
        <!-- Toolbar -->
        <div class="toolbar">
            <ol class="breadcrumb breadcrumb-transparent nm">
                <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index", "Ad")">Ad</a></li>
                <li class="active">Ad Index</li>
            </ol>

        </div>
        <!--/ Toolbar -->
    </div>
</div>
<!-- Page Header -->
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <a href="@Url.Action("Create", "Ad")" class="btn btn-info">Create New Record</a>
    </div>
</div>
<!-- START row -->
<div class="row">
    <div class="col-md-12">
        <!-- START panel -->
        <div class="panel panel-blue">
            <!-- panel heading/header -->
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-icon mr5"><i class="ico-table22"></i></span> Table Ad</h3>
                <!-- panel toolbar -->
                <div class="panel-toolbar text-right">
                    <!-- option -->
                    <div class="option">
                        <button class="btn up" data-toggle="panelcollapse"><i class="arrow"></i></button>
                    </div>
                    <!--/ option -->
                </div>
                <!--/ panel toolbar -->
            </div>
            <!--/ panel heading/header -->
            <!-- panel toolbar wrapper -->
            <div class="panel-toolbar-wrapper pl0 pt5 pb5">
                <div class="panel-toolbar pl10">
                    <button type="button" class="btn btn-sm btn-danger"><i class="ico-remove3"></i></button>
                </div>
                <div class="panel-toolbar text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-upload22"></i></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="ico-archive2"></i></button>
                    </div>
                </div>
            </div>
            <!--/ panel toolbar wrapper -->
            <!-- panel body with collapse capabale -->
            <div class="table-responsive panel-collapse pull out">
                <table class="table table-bordered table-hover" id="table1">
                    <thead>
                        <tr>
                            <th width="3%" class="text-center">
                                <div class="checkbox custom-checkbox pull-left" data-toggle="tooltip" data-placement="right" title="" data-original-title="Check all">
                                    <input type="checkbox" id="customcheckbox-one0" value="1" data-toggle="checkall" data-target="#table1">
                                    <label for="customcheckbox-one0"></label>
                                </div>
                            </th>
                            <th width="5%"></th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th width="10%">Progress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox custom-checkbox nm">
                                    <input type="checkbox" id="customcheckbox-one1" value="1" data-toggle="selectrow" data-target="tr" data-contextual="success" checked>
                                    <label for="customcheckbox-one1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="media-object"><img src="~/Content/image/avatar/avatar.png" alt="" class="img-circle"></div>
                            </td>
                            <td>Short, Cheyenne E.</td>
                            <td>Bangladesh</td>
                            <td>quis.diam@gravida.net</td>
                            <td>Tellus Non Corp.</td>
                            <td>
                                <div class="progress progress-xs nm">
                                    <div class="progress-bar progress-bar-danger" style="width:30%;"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <!-- button toolbar -->
                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">Action</button>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);"><i class="icon ico-pencil"></i>Update</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon ico-print3"></i>Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:void(0);" class="text-danger"><i class="icon ico-remove3"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ button toolbar -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox custom-checkbox nm">
                                    <input type="checkbox" id="customcheckbox-one2" value="1" data-toggle="selectrow" data-target="tr" data-contextual="warning">
                                    <label for="customcheckbox-one2"></label>
                                </div>
                            </td>
                            <td><div class="media-object"><img src="~/Content/image/avatar/avatar1.jpg" alt="" class="img-circle"></div></td>
                            <td>Acosta, Isaiah V.</td>
                            <td>Turkmenistan</td>
                            <td>ac.mattis@Maecenas.ca</td>
                            <td>Pharetra Associates</td>
                            <td>
                                <div class="progress progress-xs nm">
                                    <div class="progress-bar progress-bar-danger" style="width:10%;"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <!-- button toolbar -->
                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">Action</button>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);"><i class="icon ico-pencil"></i>Update</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon ico-print3"></i>Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:void(0);" class="text-danger"><i class="icon ico-remove3"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ button toolbar -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox custom-checkbox nm">
                                    <input type="checkbox" id="customcheckbox-one3" value="1" data-toggle="selectrow" data-target="tr" data-contextual="danger">
                                    <label for="customcheckbox-one3"></label>
                                </div>
                            </td>
                            <td><div class="media-object"><img src="~/Content/image/avatar/avatar2.jpg" alt="" class="img-circle"></div></td>
                            <td>Stuart, Meghan W.</td>
                            <td>British Indian</td>
                            <td>enim@erat.com</td>
                            <td>Bibendum Donec Industries</td>
                            <td>
                                <div class="progress progress-xs nm">
                                    <div class="progress-bar progress-bar-warning" style="width:50%;"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <!-- button toolbar -->
                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">Action</button>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);"><i class="icon ico-pencil"></i>Update</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon ico-print3"></i>Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:void(0);" class="text-danger"><i class="icon ico-remove3"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ button toolbar -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox custom-checkbox nm">
                                    <input type="checkbox" id="customcheckbox-one4" value="1" data-toggle="selectrow" data-target="tr" data-contextual="info">
                                    <label for="customcheckbox-one4"></label>
                                </div>
                            </td>
                            <td><div class="media-object"><img src="~/Content/image/avatar/avatar3.jpg" alt="" class="img-circle"></div></td>
                            <td>Pugh, Moses V.</td>
                            <td>Lithuania</td>
                            <td>diam@sapienmolestie.com</td>
                            <td>Vel Turpis Foundation</td>
                            <td>
                                <div class="progress progress-xs nm">
                                    <div class="progress-bar progress-bar-warning" style="width:50%;"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <!-- button toolbar -->
                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">Action</button>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);"><i class="icon ico-pencil"></i>Update</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon ico-print3"></i>Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:void(0);" class="text-danger"><i class="icon ico-remove3"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ button toolbar -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox custom-checkbox nm">
                                    <input type="checkbox" id="customcheckbox-one5" value="1" data-toggle="selectrow" data-target="tr" data-contextual="stroke">
                                    <label for="customcheckbox-one5"></label>
                                </div>
                            </td>
                            <td><div class="media-object"><img src="~/Content/image/avatar/avatar4.jpg" alt="" class="img-circle"></div></td>
                            <td>Lawrence, Donna B.</td>
                            <td>Togo</td>
                            <td>arcu@onecfelis.co.uk</td>
                            <td>Tellus Non Corp.</td>
                            <td>
                                <div class="progress progress-xs nm">
                                    <div class="progress-bar progress-bar-success" style="width:90%;"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <!-- button toolbar -->
                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-default">Action</button>
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);"><i class="icon ico-pencil"></i>Update</a></li>
                                            <li><a href="javascript:void(0);"><i class="icon ico-print3"></i>Print</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:void(0);" class="text-danger"><i class="icon ico-remove3"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ button toolbar -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/ panel body with collapse capabale -->
        </div>
    </div>
</div>
<!--/ END row -->
