@{
    var lstCate = (List<Tuple<HTTelecom.Domain.Core.DataContext.mss.Category, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Media, HTTelecom.Domain.Core.DataContext.mss.Category_MultiLang>>)ViewBag.ListCategory;
    var fxx = 1;
}
@foreach (var itemLv0 in lstCate)
{
    if (itemLv0.Item2 != null)
    {
        var link = Url.Action("Info", "Category", new { id = itemLv0.Item1.CategoryId, urlName = itemLv0.Item1.Alias });
        var itemNameLv0 = itemLv0.Item4 == null ? itemLv0.Item1.CategoryName : itemLv0.Item4.CategoryName;
        var styleBor = "border-bottom: 1px solid #d5d5d5;";
        styleBor += fxx % 2 == 1 ? "" : "border-left: 1px solid #d5d5d5;";
        <div class="col s6 item-children" style="@styleBor">
            <img class="lazyload" data-src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + itemLv0.Item2.Url + itemLv0.Item2.MediaName)" />
            <a class="user-color-blank" href="@link">@itemNameLv0</a>
        </div>
        fxx++;
    }
}
