body{background:#e5e5e5;background:#E9EAED;font-size:13px;background-color:#F1F1F1;background-color:#C7DAE1;font:13px/1.231 FreeSans,Arimo,"Droid Sans",Arial,Helvetica,sans-serif,"Microsoft JhengHei"!important}
.image-full{max-height:100%;max-width:100%;height:auto;width:100%}
.group-panel{border-radius:5px;margin:10px;background-color:#fff;border:1px solid #c5c5c5}
.group-panel .title-header{border-bottom:1px solid;font-size:18px;font-weight:400;color:#01A469;line-height:28px;margin:0 10px;padding-left:5px;text-align:left}
.group-item{margin:0 5px;text-align:left;font-weight:400;border-top:1px solid #01A469;border-bottom:1px solid #01A469;padding:10px;line-height:16px}
.group-item .item-left{float:left;color:#01A469}
.group-item .item-right{float:right;color:#01A469;font-size:14px}
#logoGalagala{position:absolute;max-width:100%;max-height:100%;margin:0 auto;left:50%;height:42px;padding:8px;margin-left:-46.5px}
footer.page-footer{margin-top:10px;background:#333;color:#fff}
#footer-gala-title{font-size:25px}
.footer-copyright{border-top:1px solid #fff}
input[type=text],input[type=password],input[type=email],input[type=url],input[type=time],input[type=date],input[type=datetime-local],input[type=tel],input[type=number],input[type=search],textarea.galagala-textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #c5c5c5!important;padding-left:5px}
input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=url]:focus:not([readonly]),input[type=time]:focus:not([readonly]),input[type=date]:focus:not([readonly]),input[type=datetime-local]:focus:not([readonly]),input[type=tel]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=search]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #c5c5c5;box-shadow:1px #c5c5c5}
.user-textbox{background-image:url(../Images/form_bg.jpg);background-repeat:repeat-x;border:1px solid #d1c7ac!important;-o-background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;color:#333;margin-right:4px;margin-bottom:8px}
.mdi-navigation-close:before{content:''}
#navTop{line-height:60px;height:60px;line-height:42px;height:42px;z-index:9;-webkit-backface-visibility:hidden;top:0;padding-top:0;left:0;right:0;width:100%;position:fixed}
#navTop,#navTop .nav-wrapper i,#navTop a.button-collapse,#navTop a.button-collapse i{height:42px;line-height:42px}
#navTop-Search{display:none;height:42px;line-height:42px;z-index:1000;background:-moz-linear-gradient(top,#474747 0,#212121 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#474747),color-stop(100%,#212121));background:-webkit-linear-gradient(top,#474747 0,#212121 100%);background:-o-linear-gradient(top,#474747 0,#212121 100%);background:-ms-linear-gradient(top,#474747 0,#212121 100%);background:linear-gradient(to bottom,#474747 0,#212121 100%);background:#01A469;-webkit-backface-visibility:hidden;z-index:999;top:0;padding-top:0;left:0;right:0;width:100%;position:fixed;display:none;height:50px;background-color:#FAFAF7}
#navTop-Search .nav-wrapper{height:42px;line-height:42px;top:0;margin:4px;background-color:#fff;padding-left:45px}
.btnSearch{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:none;-moz-border-radius:none;-ms-border-radius:none;-o-border-radius:none;text-shadow:none;text-align:left;letter-spacing:normal;margin:0;text-indent:0;word-spacing:normal;text-transform:none;cursor:auto;float:left;border:0;border-left:1px solid #ccc;cursor:pointer;-webkit-box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;-ms-border-radius:0 2px 2px 0;-o-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));background-image:-webkit-linear-gradient(#fafafa,#ececec);background-image:-moz-linear-gradient(#fafafa,#ececec);background-image:-o-linear-gradient(#fafafa,#ececec);background-image:linear-gradient(#fafafa,#ececec);color:#656565;text-transform:uppercase;font-size:11px;font-weight:700;padding:0 10px;position:absolute;top:1px;right:1px;width:auto;height:39px;line-height:39px}
.txtSearch{color:#555;background-color:#fff;padding:0;padding-right:68px;border:1px solid #ccc;overflow:hidden;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 0 #fff,1px 1px 2px rgba(0,0,0,0.1) inset;-moz-box-shadow:0 1px 0 #fff,1px 1px 2px rgba(0,0,0,0.1) inset;box-shadow:0 1px 0 #fff,1px 1px 2px rgba(0,0,0,0.1) inset;margin:0!important;height:100%!important}
#btn-close-Search{float:left;text-align:center;padding:2px 0;position:absolute;top:4px;left:4px;background-color:#AFAFAF;width:35px;height:35px;border-radius:50%}
#full{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;display:none;background:#F5F5F5}
#full #btn-normal-screen{position:fixed;line-height:0;top:10px;cursor:pointer;right:10px;z-index:9;border:1px solid #c4c4c4;border-radius:5px;background:#fff}
#full #contain{position:relative;width:100vw;height:100vh}
#header{height:60px;height:42px;z-index:999}
#header-menu{z-index:1000;background:-moz-linear-gradient(top,#474747 0,#212121 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#474747),color-stop(100%,#212121));background:-webkit-linear-gradient(top,#474747 0,#212121 100%);background:-o-linear-gradient(top,#474747 0,#212121 100%);background:-ms-linear-gradient(top,#474747 0,#212121 100%);background:linear-gradient(to bottom,#474747 0,#212121 100%);background:#01A469;background:#555}
#user-header-content > li > a{height:42px;padding:5px}
#user-header-menu > li > a{height:42px;padding:5px}
#side-nav-left{padding:0;width:290px;left:-300px;height:100%;overflow-x:HIDDEN;overflow-y:auto;overflow:hidden;bottom:0;position:relative;margin:0;padding:0;left:0;right:0;height:100%;overflow:hidden;width:100%;top:0;bottom:56px}
#side-nav-left > .target{position:absolute;bottom:56px;left:0;width:280px;top:0;overflow-y:auto;overflow-x:hidden}
#side-nav-left #side-nav-left-content{position:relative;width:100%;height:100%}
#side-nav-left .mLeft{width:280px;position:absolute;top:0}
#side-nav-left > li{width:100%}
#side-nav-left .spancolor{width:25%}
#side-nav-left .changeStyleColour{width:32px;height:32px;background:#FF8600;margin:0 auto;border-radius:50%}
#side-nav-left .logo{height:90px;text-align:center;border-bottom:1px solid #ddd}
#side-nav-left .logo a,#side-nav-left .logo a img{height:100%}
.side-nav .collapsible-header{color:#000;line-height:44px;height:inherit;margin:0 1rem;display:block;line-height:46px;border-bottom:1px solid #d2d2d2;padding:0 10px;position:relative;font-size:14px;height:46px;overflow:hidden}
.mLeft[data-number="1"]{margin:0;left:0;overflow-x:HIDDEN;overflow-y:auto}
.mLeft[data-number="1"] li{clear:both;padding:0;border-bottom:1px solid #d2d2d2}
.mLeft[data-number="1"] li a{padding-left:42px;position:relative;cursor:pointer}
.mLeft[data-number="1"] > li > a > i{position:absolute;top:0;left:-41px;margin-top:-42px}
.mLeft[data-content="language"]{margin:0;left:280px;padding-top:0;display:none;overflow-x:HIDDEN;overflow-y:auto}
.mLeft[data-content="language"] li{padding:0}
.mLeft[data-content="language"] li a{padding:0;float:left;width:100%}
.mLeft[data-content="language"] > li > a > .cate-image{padding:0;left:0;right:auto;float:left}
.mLeft[data-content="language"] > li > a > span > i{transform:scale(0.35);-ms-transform:scale(.35);-webkit-transform:scale(.35);-moz-transform:scale(.35);-o-transform:scale(.35);-webkit-transform:scale(.35);margin-top:6px}
#main-body{min-height:373px}
#main-body #banner{width:100%;text-align:center;border-bottom:1px solid #ddd;height:auto;padding-top:20px;padding-bottom:20px}
#main-body #banner a img{width:100%;height:auto;max-height:100%}
#menu-btnMenuLeft{display:block!important}
footer.page-footer{padding-top:0}
.user-reponsive-relative{position:relative}
.user-title-compoment{border-bottom:1px solid;font-size:18px;font-weight:400;color:#01A469;line-height:28px}
.user-readmore{font-size:12px;letter-spacing:0}
.user-header-count{position:absolute;bottom:5px;right:0;color:#fff;line-height:15px;font-weight:bolder}
.user-itemProductSale.open{z-index:2!important}
.card{position:relative;overflow:hidden;margin:.5rem 0;background-color:#fff;border-radius:2px;margin:0}
#compoment-center{position:fixed;width:400px;height:200px;text-align:center;z-index:999999;top:50%;left:50%;margin-left:-200px;margin-top:-100px;overflow:hidden}
#compoment-center #content{position:absolute;top:10px;left:0;bottom:0;background:#fff;right:10px}
#compoment-center #content img{width:100%;height:auto}
#compoment-left{position:fixed;top:0;left:0;width:184px;height:100%;display:none;padding:10px}
#compoment-right{position:fixed;top:0;right:0;width:184px;height:100%;display:none;padding:10px}
#compoment-bottom-left{position:fixed;bottom:0;left:0;width:200px;height:127px;background:transparent;z-index:1000;z-index:997;overflow:hidden}
#compoment-bottom-left #btn-remove-compoment-bottom-left span{position:absolute;top:0;right:0;color:#fff;width:22px;height:22px;background:green;text-align:center;z-index:999;border-radius:50%}
#compoment-bottom-left div{position:absolute;top:14px;left:0;right:12px;bottom:0;background:#fff}
#compoment-bottom-left div img{width:100%}
#btn-remove-compoment-center span{position:absolute;top:1px;right:1px;width:20px;height:20px;border-radius:50%;background:green;z-index:10;color:#fff}
.user-SliderHome-Store .swiper-container{box-shadow:0 0 10px #000;-ms-touch-action:pan-y;width:100%;height:169px}
.user-SliderHome-Store .swiper-container .swiper-slide{z-index:66;text-align:center;font-size:18px;background:TRANSPARENT}
.user-SliderHome-Store .swiper-container .swiper-slide img{width:auto;height:auto;max-width:100%;max-height:100%;-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;left:50%;top:50%}
.user-SliderHome-Product .swiper-container{width:100%;height:100%}
.user-SliderHome-Product .swiper-container .swiper-slide{text-align:center;font-size:18px;background:transparent;width:250px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.user-SliderProduct-Product .swiper-container{width:100%;height:260px}
.user-SliderProduct-Product .swiper-container .swiper-slide{text-align:center;font-size:18px;background:transparent;width:250px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
#Seach-txtSearch:focus + label i,#Seach-txtSearch:focus ~ .mdi-navigation-close{color:#FF8600}
.user-form-search-min{position:relative;border-style:solid;border-width:1px;display:block;list-style:none;overflow:hidden;background-color:#f4f4f4;border-color:#dcdcdc;border-radius:3px;margin:0;padding:10px 0}
.user-form-search-min input[type=text]{width:100%;border:1px solid #c3c3c3;margin:0;background:#fff;border-radius:5px;line-height:39px;height:39px;padding:10px}
.user-form-search-min #btnSearch-Full{width:auto;padding:0 10px;height:39px!important;top:1px;color:#000;right:13px}
.collapsible-body p{margin:0;padding:0;line-height:1.5}
@media only screen and (min-width : 375px) {
.user-reponsive-listImage{height:200px!important}
}
@media only screen and (min-width : 414px) {
.content-price-reponsive{text-align:right!important}
.content-price-reponsive a{width:auto!important}
.user-reponsive-listImage{height:220px!important}
}
@media only screen and (min-width : 480px) {
.user-reponsive-listImage{height:258px!important}
}
@media only screen and (min-width :568px) {
.user-reponsive-listImage{height:306px!important}
#main-body #banner a img{width:auto!important;height:auto!important;max-height:150px!important}
}
@media only screen and (min-width :611px) {
.user-reponsive-listProductInStore{height:833px!important}
}
@media only screen and (min-width :667px) {
.user-reponsive-listImage{height:363px!important}
}
@media only screen and (min-width :736px) {
.user-reponsive-listImage{height:402px!important}
}
@media only screen and (min-width : 1003px) {
.user-reponsive-listProductInStore{height:556px!important}
}
.lazyload,.lazyloading{opacity:0}
.lazyloaded{opacity:1;transition:opacity 300ms}
.sortType1,.box-filter .sortType2{display:block;overflow:hidden;border:1px solid #d7d7d7;border-radius:2px;position:relative}
.sortType1{float:left;background:#f4f4f4;position:fixed;bottom:0;left:0;z-index:1;width:100%}
.sortType1 label{float:left;text-align:center;border-left:1px solid #d7d7d7;cursor:pointer;position:relative;width:20%}
.sortType1 label.active{background-color:#fff;color:#e5101d}
.sortType1 label.active .icon{fill:#e5101d}
.sortType1 label:first-child{border-left:none}
.sortType1 label span{display:inline-block;line-height:30px}
.sortType1 label .icon{width:12px;height:12px;fill:#666;position:relative;right:0;top:2px}
.sortType1 label.bt-filter-mobile .icon{width:16px;height:16px}
.sortType1 label.current .icon,.box-filter .sortType1 label.current span{color:#e5101d}
nav a.button-collapse{display:block!important}
#main-container-user{-webkit-backface-visibility:hidden;position:relative;width:100%;overflow:hidden;min-height:100%;-webkit-overflow-scrolling:touch}
.inner-wrap{position:relative;-webkit-transition:.2s -webkit-transform ease-in-out;width:100%;background:#fff}
.move-right > .inner-wrap{-webkit-transform:translateX(280px)}
#btn-full-screen{position:absolute;top:10px;right:20px;width:36px;height:36px;padding:5px;z-index:9}
#displayCart{position:fixed;bottom:0;left:0;width:280px;z-index:9999;height:56px;background:#01A469;color:#fff}
#displayCart img{float:left;margin:12px 9px 0}
#displayCart #menuLeft-moneyCart{position:absolute;top:12px;right:10px;color:#fff;text-align:right}
.move-right .over{position:absolute;top:0;left:0;width:100%;height:100%;opacity:.5;background-color:rgba(0,0,0,.7);z-index:1001}
.tab-bar{-webkit-backface-visibility:hidden;color:#fff;line-height:42px;z-index:999;position:fixed;top:0;left:0;width:100%;height:42px}
.left-small{height:2.8125rem;position:absolute;top:0;width:2.8125rem;border-right:solid 1px #1a1a1a;left:0}
.tab-bar-right{left:2.8125rem;right:0}
.menu-left{-webkit-backface-visibility:hidden;background:#333;bottom:0;box-sizing:content-box;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;overflow-x:hidden;overflow-y:auto;position:absolute;top:0;transition:transform 500ms ease 0;width:280px;z-index:1001;left:0}
.loader{margin:45px 0}
.card{box-shadow:none!important;-webkit-box-shadow:none!important}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#869791;filter:Alpha(Opacity=50);opacity:.5}
#pnlStoreFilter{position:fixed;bottom:0;left:0;right:0;height:82px;z-index:998;z-index:997;margin:0 auto}
#pnlStoreFilter .pnl-content{position:absolute;bottom:0;left:0;padding:3px;width:100%;margin-bottom:0}
.user-swip{min-height:84px;min-width:150px;width:150px!important;height:84px!important}
.SwipProduct{width:150px;float:none;display:inline-block;white-space:nowrap}
.SwipProduct .title-name{white-space:normal;margin:0 auto;width:133px;padding:0;display:block;font-size:13px;color:#000;text-overflow:ellipsis;overflow:hidden;position:relative;display:table;height:48px;width:100%;text-align:center}
.SwipProduct .title-price{font-size:14px;color:red!important;font-weight:700;margin:2px auto 0!important;text-align:center}