@{
    ViewBag.Title = "IndexDesktop";
    Layout = "~/Views/Shared/_LayoutPC.cshtml";
}
<div class="wm-zoom-container my-zoom-1">
    <div class="wm-zoom-box" style="width:400px;height:auto;float:left;">
        <img src="http://andrz.me/magnificent.js/examples/demo/img/alley/500x300.jpg" width="400"
              class="wm-zoom-default-img"
              alt="alternative text"
             data-hight-src="http://andrz.me/magnificent.js/examples/demo/img/alley/1000x600.jpg"
             >
    </div>
    <div style="width: 350px; padding-left: 20px; background-color: #fff; ">
        <p>限時特價!!快搶</p>
        <h1>糖罐子 早春入荷 實搭棉衫/罩衫/洋裝超值組 任選3件</h1>
        <p><span>建議售價$1,180</span></p>
        <p>$598</p>
        <p> 6期0利率 每期 99元起 分期表</p>
        <ul>
            <li>洋溢春分氣息的多色系棉衫，百搭純色展露簡約時尚，輕鬆搭配不NG，任選3件598，1件199的心動價，令人忍不住多帶幾色呢～</li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.my-zoom-1').WMZoom();
    });
</script>
