@{
    var lstArticleType = (List<HTTelecom.Domain.Core.DataContext.mss.ArticleType>)ViewBag.ListArticleType;
    var lstArticle = (List<HTTelecom.Domain.Core.DataContext.mss.Article>)ViewBag.ListArticle;
}
<ul class="collapsible" data-collapsible="accordion" >
    @foreach (var item in lstArticleType)
    {
        var lstArticleItem = lstArticle.Where(n => n.ArticleTypeId == item.Code).ToList();
        <li>
            <div class="collapsible-header">
                @*<i class="fa-icon fa-icon-info-36" style="  margin-top: 4px;"></i>*@
                @item.ArticleTypeName
            </div>
            @if (lstArticleItem.Count > 0)
            {
                <div class="collapsible-body">
                    @foreach (var itemArticle in lstArticleItem)
                    {
                        <p class="backgournd-color-white" style="color:black ;padding: 1rem; border-bottom: 1px solid white;">
                            <a href="@Url.Action("Info", "Article", new { id = itemArticle.ArticleId })">@itemArticle.Title</a>
                        </p>
                    }
                </div>
            }

        </li>
    }

</ul>