@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>file Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            var url = "http://galagala.vn:9999";

            using (WebClient webClient = new WebClient())
            {
                using (Stream stream = webClient.OpenRead(url))
                {
                    using (StreamReader sr = new StreamReader(stream))
                    {
                        @Html.Raw(sr.ReadToEnd());
                    }
                }
            }
        }
        @*@{
            var uri = "http://galagala.vn:9999/Media/Store/CookingHouse-KitchenTool-Company";
            WebClient webClient1 = new WebClient();
            byte[] data = webClient1.DownloadData(uri);
            MemoryStream memoryStream = new MemoryStream(data);
            System.Drawing.Image img = System.Drawing.Image.FromStream(memoryStream);
        }*@

    </tbody>

</table>
