@{
    ViewBag.Title = "Login";
}
@model HTTelecom.WebUI.XoneAds.Models.SignInModel
@using (Html.BeginForm("Login", "AdsCustomer", FormMethod.Post, new { id = "Cartform" }))
{
    <div class="row" style="margin: 0px; padding-top: 10px; top: 50%; position: absolute; width: 100%; margin-top: -147px;">
        <div class="col col-sm-12">
            <div style="padding: 10px; background: white; color: black; border-top-right-radius: 8px; border-top-left-radius: 8px; border: 1px solid #c5c5c5; border-bottom: 0px; background: #FF8600; color: white;">
                <h4 style="margin:0px; text-align:center;">LOGIN</h4>
            </div>
            <div class="thumbnail" style=" border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; padding: 10px; -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1)">
                @if (TempData["gMessageCurrent"] != null)
                {
                    var gMessageCurrent = (List<string>)TempData["gMessageCurrent"];
                    <div class="form-group" style="color:red;">
                        @foreach (var item in gMessageCurrent)
                        {
                            <p>@item</p>
                        }
                    </div>
                }
                <div class="form-group">
                    <label for="exampleInputEmail1">EMAIL</label>
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Enter email" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">PASSWORD</label>
                    @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <button type="submit" class="btn btn-default" style="background: #FF8600;color:white;">LOGIN</button>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
}