@{
    ViewBag.Title = "TemplateNewMail";
}

<div id="content">
    <div class="element_content">
        <table width="600" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td bgcolor="#FFFFFF">
                        <table width="600" align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="600" align="center" style="font-size:11px;color:#6d6d6d;font-family:Arial,Helvetica,sans-serif">Khui quà ngay cho sinh nh?t tr?n v?n!</td>
                                </tr>
                            </tbody>
                        </table>

                        <table style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:left;height:100%;width:100%;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0">
                            <tbody>
                                <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                    <td align="center" valign="top" style="border-collapse:collapse;vertical-align:top;text-align:center;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0">
                                        <center style="width:100%;min-width:600px">

                                            <table style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:left;width:100%;background:#ffffff;padding:0px" bgcolor="#ffffff">
                                                <tbody>
                                                    <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                                        <td align="center" style="border-collapse:collapse;vertical-align:top;text-align:center;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" valign="top">
                                                            <center style="width:100%;min-width:600px">
                                                                <br><table style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:left;width:600px;margin:0 auto;padding:0">
                                                                    <tbody>
                                                                        <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:center;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0px" align="center" valign="top"></td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;width:0px;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top"></td>
                                                                        </tr>
                                                                        <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:center;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0px" align="center" valign="top">
                                                                                <small style="color:#cbcbcb;font-size:11px">N?u quý khách không th? xem thu này, xin vui lòng click <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRAAY&amp;_ei_=EmmX-l6tDGteaBYx_A0zlNWNyU6dqzlkh-bWx-oL-kXb0WJK79Ge0RHb4GbUiTG1zHMUo6e42a15ybAMbh57nzeRouqMgQihUpFpzMkwUzA7FuMy56ePs2YkZ0dp20zprvmrHbDKp4ReIzQXT3ThkMHZ2iXrASvxGsDzC8IACriUZUDO88sapSVu_mvlmFAXQPuCn-CN5vMByploIrsQxpmZK1E5HZbhPKaLjEFv7K7yz8hcRLJlNAtKU5x3BmWuCL6lmRNOQyKUdjo7pyem7XRmvwQPMMKYWxB3fFGtMfgNjsxEl3HZr8uybefGc98QwEo4Ecrz2Yw9VxoO8SwP0vpX69HFNmiHG6aZhCKT9EX8lM." style="color:#fc5e0c;text-decoration:none" target="_blank">vào dây</a></small>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;width:0px;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><br><table cellspacing="0" cellpadding="0" border="0px" style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:left;width:600px;margin:0 auto;padding:0">
                                                                    <tbody>
                                                                        <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;float:none;min-width:0px;width:33.333333%;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRBRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4J4-xqR5SNLeWUl_OpuJIlJ1uLuiIgVtQqwHYSsHkI_qsd8MiK4tcsOaSd_6nDQfiO4N--3XpEbSHqazBzltHz_NaBzqK76WeIJlw-G3JuVGxK3k." title="Sai kích c?, s?n ph?m không h?p v?i b?n? Ð?ng lo! B?n có th? tr? ho?c d?i hàng trong 30 ngày t? ngày nh?n hàng, hoàn toàn mi?n phí! Chúng tôi mu?n tr?i nghi?m mua s?m c?a b?n th?t d? dàng và vui v?" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Hu?ng D?n Tr? Hàng" width="200" height="22" src="https://ci6.googleusercontent.com/proxy/JHNd3IVOuRswtoWkL-haFzAHbfsEmZqSNIq2decD9DrDTWT_9YAOmr2RbC-noQddqVscH7j7JScF-0nEp9s9yGp8BM48xrkltNKDA6gVljiBdSBS3zKbBXc=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_02.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;float:none;min-width:0px;width:33.333333%;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRBTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4J3ItxN6C73CUjAW_-0mLZ9V_tD8OeCEL1SMXs1HN_QNyY8518GAQCSnvg-SclDwYxVbmccnnbLxD4jgHFg6xGGq4q4fQLHKYlCfuPkoH-LvuE72Ctw." title="T?i ZALORA, chúng tôi luôn c? g?ng gi?m chi phí v?n chuy?n d?n m?c t?i thi?u nh?t có th?. Ðon hàng t? 400.000VND s? du?c v?n chuy?n mi?n phí, các don hàng du?i 400.000VND s? du?c tính phí tùy theo khu v?c." style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Free delivery" width="200" height="22" src="https://ci6.googleusercontent.com/proxy/h-eTq_B2z3L8THyGf1nd5cAYRV4hqmT1Uec07ldhm_X0OrNdOo1RxxtWPRfl9GaZchIj4tEtIZIGHYEE5hpP9mMiD1ARtBDWjmndzNR_FVokcrVxU4slURw=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_03.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;float:none;min-width:0px;width:33.333333%;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRBAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4Je54gF9cqb7iXtvIV3OMvB-LgzZLXEL9hKnzzWou1JcqSHwoiNtCaLHNd869hYVMBzeLV2HMGi1vGR7XxD544a9srWPDL3Wb-6ii60." title="B?n không có th? tín d?ng? B?n ch? mu?n thanh toán b?ng ti?n m?t khi dã nh?n hàng? Yên tâm mua s?m t?i ZALORA b?n có th? thanh toán khi nh?n hàng. Chúng tôi mu?n tr?i nghi?m mua s?m c?a b?n th?t d? dàng và vui v?." style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Cash on delivery" width="200" height="22" src="https://ci5.googleusercontent.com/proxy/8nx1Dhmb6_p00Uko1rkoF2zsiDJEtw6KTXOlCZE_tCr7RzPHBrPuBcfglcMFbeJms3_lxpyhH3vDNr9ETXa8NshGUx2SEX2AsWiR2iIx8r5psb_45cPatcU=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_04.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;width:0px;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><table cellpadding="0" border="0px" style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:left;width:600px;background:#272727;margin:0 auto;padding:0" bgcolor="#272727">
                                                                    <tbody>
                                                                        <tr style="vertical-align:top;text-align:left;background:#272727;padding:0" align="left" bgcolor="#272727">
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:center;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;background:#272727;margin:0;padding:0px" align="center" bgcolor="#272727" valign="top">
                                                                                <center style="width:100%;min-width:600px">
                                                                                    <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRBCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4JeVqZD1rXW6uHzKWouUKZMNNplL9FT37UVIegaFqzX0TlVE34mve5QoUVMrFmytViKjAj_jXkQtO-UHEx0a7rEbs6ZGcP97oj-zRbJj5P5XmTPA." title="ZALORA" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="ZALORA" width="264" height="69" src="https://ci3.googleusercontent.com/proxy/6I0UyB-Bm0t9maHTlf6O5Dt4xw70TtsHnfq8PW29VZYmLLGLk9K7c5fwDBoO79r__h9waQ4_3jKKHUDRDCEfnR9auqV52tQyFMMxA5qJMr6W-fpPMcP2608=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_06.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" class="CToWUd"></a>
                                                                                </center>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;width:0px;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><table cellspacing="0" style="border-collapse:collapse;border-spacing:0;vertical-align:top;text-align:inherit;width:600px;margin:0 auto;padding:0">
                                                                    <tbody>
                                                                        <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRCTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4JdnjMoFKhQ6ryeMi12URSKpobMVhYXSDw0CJD4PTNf4z_gdZLdw29cZhLv_07n4c0ixlhL57oV7EM2xJCS58JrbfGFL27KDdK6Srd0." title="Hàng M?i V?" style="color:#fc5e0c;text-decoration:none" target="_blank">
                                                                                    <img alt="Hàng M?i V?" width="120" height="35" src="https://ci6.googleusercontent.com/proxy/WUWPpKzCXph1noCplZmLQ_MfB1qEwRv7B7Uh6_8grAr6G4K0Jb_TRlY3qrx88kQ8em6NrPCftU7qrNEztw-KGlsNfK5Dz40ufnC4FfgPXFjJ1cSOivq4PUU=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_08.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd">
                                                                                </a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRCWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4J9LeJFW0apnJsVjcopjyGV7v7bim-XqL_rC-zTCa_lRJvSWF-Sr1_nfsgUTyzXHe_1bVBz6y1AwXlDlhPo9OrXV4XvBA0sRHt482Phhm." title="Giày Dép" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Giày Dép" width="120" height="35" src="https://ci3.googleusercontent.com/proxy/6_NhCVfWc8sM2EDfnyvYP86M5I_pyWVSKAN_3mWiksJY7cEYhCPelqBEpjxuZbA7Z6s3c3uNeyFjzK1Z6mXxfgsYjiZ61yWIAJmOeCppn-c9J_H6EY7prVg=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_09.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRCAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4JfQzTtb7we2K7u3mYACChwZ7PLszizLiL83ftWq0obZ4pPMUh0GW-Tqty5r3ziBQEDWQRe3pBQiWu8ZJUr_x1s0j9fEGW61DsoFMPa3MHYsD." title="Trang Ph?c" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Trang Ph?c" width="120" height="35" src="https://ci3.googleusercontent.com/proxy/9Ch36cqTDnsOnX6k0jN3fVJYEasXp9wkOOQFoSWTZTAqEoc4WGgfN9ISiHgXxEMynPFfGLdWRChJytzVjRpjqOZHz6D_Kle_NK7ApaLORMQUGY-XkkK6TG8=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_10.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRCCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4JcKPV6mHy18yl0YjnWdPGRYKN8mKIIP_R-A6T9feF-hBzG4bY3ZqoAz0jtmJrUUG4gtSK8qeF6Rmxm_LYgm9i8fFT1jfZ4ziEh7fD-m5qYL6wcRl." title="Ph? Ki?n" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Ph? Ki?n" width="120" height="35" src="https://ci4.googleusercontent.com/proxy/7T2dx29HVvRDLM6QuVZJnFzaf42lS-9w2hs9BzssLlyM7-Y8UcycZzn0_kxgbs7solrAQU3oD67kXedKbaHqJFEJWpEKP_ZnZ2RYqwmo5gzgY6X9OVaKaiM=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_11.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top">
                                                                                <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRDRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcGikM_3BOjGrNmo8ULve4JcZR9VXRCXGVnjNW3wDr9V2_se3-iL1t0c75-tsLTPoIFizSaXyowEUgRpefqZd8fDdtc1yq7WR1-2rYamTjqjN3UJYw-qsQmSV91CY." title="Sale" style="color:#fc5e0c;text-decoration:none" target="_blank"><img alt="Sale" width="120" height="35" src="https://ci5.googleusercontent.com/proxy/ZRqMXxfNAaWhxIYhd5guuljhs-RLXlU-KzpjOElXjOfQRyrCWFtiIxxI7ItVXjRSB0eF25J9y3P93bY7m8AiNqLYrHPP_kI1S24tynpi2hvism5gl-EywUQ=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/header/images/header_12.jpg" style="outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="CToWUd"></a>
                                                                            </td>
                                                                            <td style="border-collapse:collapse;vertical-align:top;text-align:left;width:0px;font-family:Arial,Helvetica,sans-serif;color:#000000;font-size:12px;margin:0;padding:0" align="left" valign="top"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">

            <tbody>
                <tr>
                    <td align="center" width="300" height="543" bgcolor="#F8F9FE"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRDTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpizO8mMrycS4Vy6PfLvyhaQtB4wCDivjoa7jzYxNzzWbZE8BqYu-X3GNp1SmcYXCk6pEnItPMnebcjb-L1JkSGVKv-70-25rnaxGvCz48KKYXzIQ." target="_blank"><img src="https://ci3.googleusercontent.com/proxy/N1RxKfTjSsaK5-px6rnBT4qxVJYElSy_AjUNWXWpZvFJRxQJen1NKKK6Otv0qaInptEmc_faiSPGlQtmupk60a3raNkDmO_GuRDNeTyTluphHQ4oMg=s0-d-e1-ft#http://images.partner.zalora.com/crm/sg/campaign/BD/BDF_BDR.gif" alt="Chúc M?ng Sinh Nh?t" title="Hãy t? thu?ng mình v?i quà t?ng c?a ZALORA" width="300" height="543" border="0" style="font-family:Arial,Helvetica,sans-serif;font-size:15px" class="CToWUd"></a></td>
                    <td align="center" width="300" height="543" bgcolor="#F8F9FE">
                        <table width="300" align="center" border="0" cellpadding="0" cellspacing="0">

                            <tbody>
                                <tr>
                                    <td align="center" width="300" height="136"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRDWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiK8g3_F57sGcK2vf8HGo6oIZygnCLG2FeMEDbfAXPm2vu6l-eOnmYFUmIuP_pjFG9f4yw90jrl4InYinXJn16Z1b_CVLoOCEU5p3GyOwdCRLyM." title="Hãy t? thu?ng mình v?i quà t?ng c?a ZALORA" target="_blank">                 <img src="https://ci5.googleusercontent.com/proxy/WmyzkZ_DVQnwZpHwns0VBm7WtOgUJF0DvcDaEcdw7mFoTKUSq_tcGpiwNZrq6SVWD3zTBlOBI-mAlOTyVOtyZWEvrXEJTu7COeIZKTX8VtbgtEeW=s0-d-e1-ft#http://images.partner.zalora.com/crm/sg/campaign/BD/BDF_b1.jpg" alt="Cùng ZALORA dón m?ng ngày d?c bi?t" width="300" height="146" border="0" class="CToWUd"></a></td>
                                </tr>
                                <tr>
                                    <td align="center" width="300" height="327">
                                        <table width="280" align="center" cellspacing="0" cellpadding="0">

                                            <tbody>
                                                <tr>
                                                    <td width="260" align="left" bgcolor="#F7FAFF" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000001">
                                                        <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRDAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiKxZYspJBR9b7uArhJFdrO3mO95xGd1G87-BURaO8JTNnRHe6EL0M-UXUpsxOpTa5vl3Drxj5o_J_bFqrSgmb7CBPKDNXg7lNGgoQPwWOhOx." style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000001;text-decoration:none;display:block" target="_blank">
                                                            Chúc b?n dón sinh nh?t vui!  <br><br>                         Ð?ng quên m? quà t? ZALORA d? t?a sáng hon n?a trong ngày d?c bi?t b?n nhé!<br>
                                                            <table width="260" align="center" cellpadding="0" cellspacing="0">

                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="font-size:24px;font-weight:bold;vertical-align:top">18% OFF*</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br>
                                                        </a>
                                                        <div align="center" style="font-size:15px;text-align:center"><b>NH?P MÃ</b></div>
                                                        <table align="center" cellspacing="0" cellpadding="0">

                                                            <tbody>
                                                                <tr>

                                                                    <td height="60" bgcolor="#FFFFFF" align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:44px;color:#9161b5;font-weight:bold">&nbsp;BDF03BY0&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        &nbsp;<br>
                                                        <table width="125" align="center" cellspacing="0" cellpadding="0">

                                                            <tbody>
                                                                <tr>
                                                                    <td width="125" height="23" bgcolor="#000000" align="center"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCRDCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpizVsFOQq86IjKf20qgp9ZCw1QUisPg3STFHUmbM0sQeTWj7F_EHIuKlpDxq9MNZUxWWxD9s8EewcW9WANQZKsmERiXMrKnbleIJtCYhuWx0." style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#ffffff;font-weight:bold;text-decoration:none;display:block" title="What are you waiting for?" target="_blank">? M? QUÀ NGAY</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br>
                                                    </td>
                                                    <td width="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" width="300" height="70"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="2" bgcolor="#333333"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="20"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" align="center"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSRRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bPKtc1cqLTGkoEcsXVr6pUsRCjVYu8tdX0QduIFdOznZFIc2BM0sJdo5XeLv0WHIqsR-DQPO-J_-ya7wQ5AN2_Tqu7JdrnnSwysMQjW2E-MgjgHxmI0QMhuRzOGCGwbPFaHHqyczWgIWEiAX4lGkVXEVbErxorqvRWnkxsABy6GWQ_h6AX10GufrWij0a9344dAruI9lWeP1nGQwRxYpj9Rky4." style="font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#000001;font-weight:bold;text-decoration:none;display:block" target="_blank">Mu?n t? ch?c ti?c hoành tráng?</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="8"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="50"></td>
                    <td width="500" align="center"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSRWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bPKtc1cqLTGkoEcsXVr6pUsRCjVYu8tdX0QduIFdOznZFIc2BM0sJdo5XeLv0WHIqsR-DQPO-J_-ya7wQ5AN2_Tqu7JdrnnSwysMQjW2E-MgnyR4BGbUp6BwHmsIqYuFi9iLoM29CvZQddQSCSUqcwka_LK31lzh7OWMy7jrPvnvnnA7nuKDx70lyNtnbg3QjnxaSohrelOzbmO4-HDGL-rXFU." style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000001;text-decoration:none;display:block" target="_blank">         Chia s? gi?m giá d?c bi?t d? cùng b?n bè và gia dình t? ch?c ti?c sinh nh?t th?t th?i trang và sành di?u!</a></td>
                    <td width="50"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">

            <tbody>
                <tr>
                    <td align="center" width="116" height="33"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSRAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bPKtc1cqLTGkoEcsXVr6pUsRCjVYu8tdX0QduIFdOznZFIc2BM0sJdo5XeLv0WHIqsR-DQPO-J_-ya7wQ5AN2_Tqu7JdrnnSwysMQjW2E-MgpQKLG9JQNrB-M1WY9wpX536umfDn1WOoJtPivZ9WmIiHOSteRD3WAx6hUznnMLQiUITIxtqQ6wKlGc5RRqrGDkNFvNjeWCe_rLpzLR6tC7bNy2PXM." title="Share the joy!" target="_blank">         <img src="https://ci5.googleusercontent.com/proxy/k311ofpM4REUNhS77v9tmQNGeBTeZTGrBps_JDVPRJuyXr0Kqzf0a3dmJmOyAHO1LyxZeOeR-pkmSRrZHQrJKHwJ7fDvToV70b2GMfGPWXc-ou2vcQo=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/Campaign/BD/BD_share.gif" alt="Facebook Share" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;text-align:center" width="116" height="33" border="0" class="CToWUd"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="15"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">

            <tbody>
                <tr>
                    <td width="50"></td>
                    <td width="500" align="left" style="font-family:Arial,Helvetica,sans-serif;color:#666666;font-size:10px">* Mã gi?m giá s? h?t h?n sau 23:59 ngày 20-07-2015, áp d?ng cho t?t c? ngo?i tr? hàng gi?m giá và ch? s? d?ng du?c 1 l?n duy nh?t. <br>         M?i th?c m?c liên h? B? ph?n Cham sóc Khách hàng t?i 08 6 288 5678 ho?c email <a rel="nofollow" href="mailto:customer@zalora.vn" style="color:#f8a037" target="_blank">customer@zalora.vn</a>.</td>
                    <td width="50"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="15"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="580" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="580" height="1" bgcolor="#333333"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">

            <tbody>
                <tr>
                    <td width="600" height="32" align="center"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSRCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiCewVFRE-HXMbnNalfp1MuHUFyk0QuOQfB8rwKhv9yAcigr6kdgW5zDoUxvFyLiInQaKC3E_SG_N4i4yUA2w2OeXJ6vFeIYT93PPkCZRVb3KUBEnIbI." style="font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#000001;font-weight:bold;text-decoration:none;display:block" target="_blank">THÊM G?I Ý CHO V? NGOÀI HOÀN H?O</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="580" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="580" height="1" bgcolor="#333333"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="600" height="8"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td align="center" width="194" height="194"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSSRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiE5YIAo4ivuHmwwQsfpqherMnOFAvdbkG5MApcBwLu5UckQ3qMHHwSqhAFZZSWLbtInHZHa4xUvachgJ9iF9j3Mp7N2o2IhGabwN63QSkV0." title="Ch?n ngay chi?c váy xinh d? tóa sáng!" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/xVSI4HSMv8DCfoWyfuW0VOZEThZb0TOo9DwN8x1JwOV690wMYVvcgEVbqRlGkYZAxQ4PlHq3a7rQNZ5Q_XfTuGcHMk96CG2qe0MiqA6gGtVEVrlRAQ=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/Campaign/BD/dresses.jpg" alt="Ð?m / Váy" width="194" height="194" border="0" class="CToWUd"></a></td>
                    <td align="center" width="9"></td>
                    <td align="center" width="193" height="194"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSSWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiE35Jrt7bpB8Q8G6rlBXkGf4T0Rs9GgEF36pltxmXvukEg2q3hwX8xY0lrhJ44j2d8C985KOxbrSMiBbjoto2j0fFu462RmqWf4iieHN." title="Thêm dôi cao gót, thêm quy?n ru! Ch?n ngay!" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/QZnd2RsfBjOZ0-lvBrqZ0lfrMcZxv5kpDiMCC9CRz6E1hcFUz1Bgp2BzUw0i5kVKJwMBKoDP61hCfyc2WDEdju406Z9kyJJ3O8FO3C5p9nlAyOGylGM=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/Campaign/BD/BDF_shoe.gif" alt="Giày Cao Gót" width="193" height="194" border="0" class="CToWUd"></a></td>
                    <td align="center" width="10"></td>
                    <td align="center" width="194" height="194"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSSCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiJ-7aF-hHi3V2xC8-nIHVV1j20tKrcwu5wqqM3uv2bqUduGs0sRS-QJA5kt6eHsMzC3nr5PNrdj6gCZKybGg_i9YCYzYl7KKpGVgg0." title="S? h?u ngay chi?c túi th?i thu?ng là di?m nh?n d?t giá cho phong cách! " target="_blank"><img src="https://ci3.googleusercontent.com/proxy/93FIw2MkFV0M7YSUjoDIHIwgkVAvnR52y4wyahvphFeUK5RHUxsRvSBMGQi5M2icwhZ5J8kEaN7iU2BHrXu3AYuJzLKn1Z1kKCjfaqWoFcCuYhzeNQ=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/Campaign/BD/BDF_bag.gif" alt="Túi xách" width="194" height="194" border="0" class="CToWUd"></a></td>
                </tr>
                <tr>

                    <td align="center" width="194" height="35"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSTTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiw-Ffb_vxyGViK_HXLPiLK-LVKVXxlqcimHisXS0hIRG1JKaM9uPn9-9d2rvM5M59dkvCaZDkB07bjI6YqGjCzF1Kw25E8HhpIXmXsYmgxgb7pF6." style="font-family:Arial,Helvetica,sans-serif;text-decoration:none;color:#000001;font-size:16px;font-weight:bold;display:block" target="_blank"> &gt; Ð?M / VÁY</a></td>
                    <td align="center" width="9"></td>
                    <td align="center" width="194" height="35"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSTWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpixme28Xem64C_UndCUWEMFAPdBOhRRsffKs2YQxrL8EEQgcLDkjfdAZdRpVWUsdRhn5LuaO1YsgS-zbpLVC1M0pkoepmDade82f-iF4NNM9otM." style="font-family:Arial,Helvetica,sans-serif;text-decoration:none;color:#000001;font-size:16px;font-weight:bold;display:block" target="_blank"> &gt; GIÀY CAO GÓT</a></td>
                    <td align="center" width="10"></td>
                    <td align="center" width="194" height="35"><a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSTAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcHsJiKBy-jyuhuo63GdKpiG3KwsN6RUwCyyRMD49YCg55ZjW_-CswQ6FffhxFgmD8YL9cjRpbC_VutsX7UhypUN-M2XZ3rXcUPGPzwtuU2vGPUgmfJSO6Jnu4lZL7IGE." style="font-family:Arial,Helvetica,sans-serif;text-decoration:none;color:#000001;font-size:16px;font-weight:bold;display:block" target="_blank"> &gt; TÚI XÁCH</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="element_content">
        <table width="600" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td bgcolor="#FFFFFF">
                        <table style="border-spacing:0;border-collapse:collapse;height:100%;width:100%;padding:0">
                            <tbody>
                                <tr style="padding:0">
                                    <td align="center" valign="top" style="border-collapse:collapse;padding:0">
                                        <center>

                                            <table style="border-spacing:0;border-collapse:collapse;width:600px;background:#ffffff;margin:0 auto;padding:0" bgcolor="#FFFFFF">
                                                <tbody>
                                                    <tr style="padding:0">
                                                        <td style="border-collapse:collapse;padding:0">

                                                            <table style="border-spacing:0;border-collapse:collapse;width:100%!important;margin:0 auto;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:5px 10px 5px 0px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWWRDRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqjCFQryLfw7aJAg9rRzM5KA8gBFVf0jFL06QMkk7KhJEb302AwWe4S-qSn22DQb94tgHd0Hy6bHyKQsmi2ew3_nJfIWxmEIWpGihQYvbL-Vvhg." title="Trang ph?c" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="Trang ph?c" src="https://ci5.googleusercontent.com/proxy/MHWYFgQaejIlTVSUmucmSlpv6kFdSrLbuY7d1HlcT5-Woh09mDtB7OjbKRVSSqIFpaLx9NPL6EwtNg0YSBxAi4X0UT1Yc1l_YE41bOvVYo8YQ4VItDRZfjVboCXuDwreKWE=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/VN_women_clothing.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:5px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWWRCCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-equPGHN6Bh-LDF2h8Zixg72l21Pcq1dmhIbVBqLBVcQwYyS_mb7ALuCtSHdxF3S-jMm5yUedrKC-FxEYOe1ZSSriB-TuPyPcHmk9DPyHEFM." title="Giày dép" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="Giày dép" src="https://ci4.googleusercontent.com/proxy/kuHcwq1giwaUOxekb6Fo6dKm799KuoISx4jE496lJCC--GA1WZC7L4BsVuoRZ4gz-EkVgPVD4UnGngqduqueBZKF_HrhGLRstIUEPYbb-wnrUt7v6rUNz3rH3nOttts=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/VN_women_shoes.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:5px 0px 5px 10px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWWRDTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-equZmQtC2qc_Llrxl5PLYsUc1Rmra-ATyG4Kj3Ffjl8r5pUOFpY0MOz6Z7_E1yFqUB6ACLRNGYE00Y2imGJCq2pgzfBgtPIOqgkbLEbKpz-3tJIGQc0." title="Ph? ki?n" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="Ph? ki?n" src="https://ci3.googleusercontent.com/proxy/GkGwroV4gtCehxfD_boF93ClozHpaoEPQYNqiJw6TvMSqLwsAP4U61_PPZX2j1DUCsBv6rp7XNNe-lk56KSfXPkhxO02cPu4scXLl0CTOPJtf6SR_dh2D4CUNxIL=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/VN_women_acc.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;margin:0 auto;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:0px 10px 5px 0px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWBSSWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqlHPTjKRo0D4dbB0BrkWrH7iWbnWfR4tnLhKlAFQiGbOVGZXoF5oea4g1vQ9g52u5hJrKA_ELYYijSaAq2BOPjMQnBVHfj7ZzkOCxg2Y1hPp8els-w." title="ZALORA Outlet" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="ZALORA Outlet" src="https://ci3.googleusercontent.com/proxy/wXu5yLSGhncnUwUcTZ_fSEKZWBsw5M0UERRyoByyezkBXFxCTx6bZ812_bJxtMcq7tqf9i3bJKM-srtAl7pAfKJnk3g3Gh30gYIh3Q2W3zd67EggloEw4iY=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/hotdeals.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:0px 5px 5px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSUTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqpWdCFNNz2Ro_knuAjXub1TGJeOI-0-p0n_QQmQhJSijcl9nl3KXg7p7IJBPxN3nO1TfEaoMLV_mZHQChJ26Jthtqb-U1zVwOY06Gf4." title="HÀNG M?I V?" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="HÀNG M?I V?" src="https://ci4.googleusercontent.com/proxy/0yC2mADepXOR-QHjutOyI7Ii13cJ28jAYIH60P3ndAxKjoQaSocyLFu7p9KZctE2gkYo-DViSgZv1DS0izL4hJRqMqMBY5-jtXg4xAI-X_7AhxWGBRpK=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/VN_new.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:33.333333%!important;padding:0px 0px 5px 10px">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSUCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqifshqcZhtL4pLMdqNXsv1DBotLDx3L_quz_YPZRlqBqSPMA15vBnfw7NeQJgcL8Q5LwqC-je0vL8p3WwUkhPTzy_0ZDK12DcCCh2gDO." title="SALE" target="_blank">
                                                                                <img height="80" width="190" style="min-height:80px;width:190px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="SALE" src="https://ci3.googleusercontent.com/proxy/H6fo-mW-KRaFL4SkX41WBuKiATFprZWkWm6eA99RW89lxq-pWDkFFtAwEtM48HRoN3X4tt8WUhObzT0r6gVwOKwvr0GpbNMyPob6-ncFElHB7qe5Aas1gg=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/VN_sale.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <img height="23" width="600" style="min-height:23px;width:600px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto" src="https://ci3.googleusercontent.com/proxy/AiPF5IIfA5HB6HsompjF1Fx_f2YOxG2cpfa1sW5bDE1JWrbPmwqRsMAWagvt7WsS2VqSn810ypdoSA4BChZw5DzZoFYBjj53apGGGaKTNYd-ZvJ82CkYh0vDk0rle2KP=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_04.jpg" border="0" class="CToWUd">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;margin:0 auto;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;width:50%!important;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqviqYYrtsdblczfSywhUJ0IDm6NAlkNr6N59N9mY7L5c9T2brPrkfXgBD-wrRr2LvTwsw02v5wxY6HdNUiHHRdKBU7ddxClKl-DjE2vDZelHjfc3ir_Ye0." title="T?I APP" target="_blank">
                                                                                <img height="147" width="300" style="min-height:147px;width:300px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="T?I APP" src="https://ci5.googleusercontent.com/proxy/bzQZlR-MPRC5Dy1D-ParsMqfwnsVRDOzg-PUEU836yYCAW6XK7lVaAcAxT_11kZdTUus3q2czDCMzK60IlUh0zJOUgN3Tg-J1yGA9WX4Dr2UZIsMAzMjG1a7uD2067Vq=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_05.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:50%!important;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqviqYYrtsdblczfSywhUJ0IDm6NAlkNr6N59N9mY7L5c9T2brPrkfXgBD-wrRr2LvTwsw02v5wxY6HdNUiHHRdKBU7ddxClKl-DjE2vDZelHjfc3ir_Ye0." title="T?I APP" target="_blank">
                                                                                <img height="147" width="300" style="min-height:147px;width:300px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="T?I APP" src="https://ci4.googleusercontent.com/proxy/BtEVRuXGTOZurnrWvf872N9xcF2IsQ4fD0S9sSPng9mbS5SOCWm9DJ5aTq-FrwaB8ul-HGlrrCFV1tiYSBwMq90MNDc31zWWGlrwoYjyb2kwbasZ1E1WYDwZYbKOjyov=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_06.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;margin:0 auto;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;width:50%!important;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqviqYYrtsdblczfSywhUJ0IDm6NAlkNr6N59N9mY7L5c9T2brPrkfXgBD-wrRr2LvTwsw02v5wxY6HdNUiHHRdKBU7ddxClKl-DjE2vDZelHjfc3ir_Ye0." title="T?I APP" target="_blank">
                                                                                <img height="58" width="300" style="min-height:58px;width:300px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="T?I APP" src="https://ci4.googleusercontent.com/proxy/lAJ_zPxL-BY400hJBn2DfRLHDnaWmVf3sZ6cZhYsswm9Uwd_khwD4mOHy-lRBoU3OPe9GrgMrRifdvE35s3pki02RrwYInYQma-gJ50W1iNYpHjIdWkYDyFkPOwC5k0F=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_07.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:50%!important;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqviqYYrtsdblczfSywhUJ0IDm6NAlkNr6N59N9mY7L5c9T2brPrkfXgBD-wrRr2LvTwsw02v5wxY6HdNUiHHRdKBU7ddxClKl-DjE2vDZelHjfc3ir_Ye0." title="T?I APP" target="_blank">
                                                                                <img height="58" width="300" style="min-height:58px;width:300px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="T?I APP" src="https://ci6.googleusercontent.com/proxy/NnBF4o5TFhWTWYS2doFLeiyk4ZIXYsXDkmL0_6HkfmZshyeqJW4VuDIkym3vxy7lFtz7d9IKVClWtX3ta8SWFp73Tb_6ZUM3X3fUpr3jvvpaAA4ye72hTyeBZJgqI_Dk=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_08.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <img height="15" width="600" style="min-height:15px;width:600px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto" src="https://ci3.googleusercontent.com/proxy/l3PD6EpmTjCTPeSAPJJJgB9MUVpvzN0MdIbkQ6drdqJiPEWnL62HvETr2xRw9ITGOq_wIw1rBQuDjnr1xixvVZt05C6jCkGSRlIs7Vk2llCp_ewCdPGFmI2QId8Lv82p=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_09.jpg" border="0" class="CToWUd">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <img height="13" width="600" style="min-height:13px;width:600px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto" src="https://ci5.googleusercontent.com/proxy/5tQnoee-gsuTe2b0TqV9oK_UFNmIZrzSwYhkKeqaSmmKSKzC2083AzvVum_pJwyKZIYT50JdPzzh-6k8EuJd3nA4i15BVGiV0JZBMgF0mMSpec0KHhj3_mnkT_xVCIGl=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_10.jpg" border="0" class="CToWUd">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <img height="18" width="600" style="min-height:18px;width:600px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto" src="https://ci4.googleusercontent.com/proxy/yuZ470V5_oMWdC8RBCypS12Md6BAk2MZZ3V49JJ3lShP3I1yFdPw2JbKsfQD87p94m2x08c9DH_NNEnALTFWF5inJ-66iewdXVYm8XvsKMNTUD9LOtikr0hh0GVAwz7T=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_11.jpg" border="0" class="CToWUd">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <table style="border-spacing:0;border-collapse:collapse;width:400px;margin:0 auto;padding:0">
                                                                                <tbody>
                                                                                    <tr style="padding:0">
                                                                                        <td style="border-collapse:collapse;width:50%!important;padding:0">
                                                                                            <table style="border-spacing:0;border-collapse:collapse;padding:0">
                                                                                                <tbody>
                                                                                                    <tr style="padding:0">
                                                                                                        <td style="border-collapse:collapse;padding:0">
                                                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqqRO8DSWeYYZzCQbHulx5M7hmTs6xukKyxmSq8JHslJVkEc32hlE7Kki6Nep0U1xIe63GL6s-5L59Dm1mRYTv-vCqbFZgPTkK1dj8QVIR2wxNzu8yGWcWqQ." title="TÀI KHO?N C?A TÔI" target="_blank">
                                                                                                                <img height="21" width="200" style="min-height:21px;width:200px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="TÀI KHO?N C?A TÔI" src="https://ci6.googleusercontent.com/proxy/52L5KiXJ9vk5ySdG92RUoMWGZc5fQ8xqkC5PzyKAPJQBGG2i54El0990XBsumksrVCzrVYM0m4F6TqshFU1sYSJwUiipchazSPLlByt4n5tS88bOtpehRJU1QDjhS_51=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_12.jpg" border="0" class="CToWUd">
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="padding:0">
                                                                                                        <td style="border-collapse:collapse;padding:0">
                                                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqqRO8DSWeYYZzCQbHulx5M7hmTs6xukKyxmSq8JHslJVkEc32hlE7Kki6Nep0U1xIe63GL6s-5L59Dm1mRYTv-vCqbFZgPTkK1dj8QVIR2wxNzu8yGWcWqQ." title="ÐANG NH?P" target="_blank">
                                                                                                                <img height="21" width="200" style="min-height:21px;width:200px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="ÐANG NH?P" src="https://ci5.googleusercontent.com/proxy/y8c333QeHpVqcaN_4lXxwol3MIER45QeFeh3xhUpw7jO55ifT7mJQ8GzRubkZg3UN-aXK47LEZXZ6EsqeK6bm1aOS_an3nGVVKaRjFCmKtNdkOGKseSHB-gGWg4u_89p=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_15.jpg" border="0" class="CToWUd">
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="padding:0">
                                                                                                        <td style="border-collapse:collapse;padding:0">
                                                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSWWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqtDoBGGi0NgoyMmRFS05dH7wuzHGgwetoXmK7jQKnNueQdJttj1EYdx3TT-T6mE2htxddaXQnqkgP70AMHpC44Ng1w1d4m_wZZnzvVK_xbYzVmAF78kxpg." title="QU?N LÝ B?N TIN" target="_blank">
                                                                                                                <img height="21" width="200" style="min-height:21px;width:200px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="QU?N LÝ B?N TIN" src="https://ci5.googleusercontent.com/proxy/PGKZp4SAanMveNc4Ky5p5IASQJXtU5l7kX5DIvZXWRY9C2gpbbsaF78GvH2yXWZ1L3p8apbU2xhaPLVaNiJRTdJo3vHO7pSL-avp_c9tGwApXvTQ5BNkevd3Yfc5AXB3=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_16.jpg" border="0" class="CToWUd">
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>

                                                                                        <td style="border-collapse:collapse;width:50%!important;vertical-align:top;padding:0" valign="top">
                                                                                            <a rel="nofollow" href="mailto:customer@zalora.vn" title="LIÊN H?" target="_blank">
                                                                                                <img height="63" width="200" style="min-height:63px;width:200px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="LIÊN H?" src="https://ci4.googleusercontent.com/proxy/e7nraTmkPfSY3Z3C5u7i3iJSg8EyfoFYXDP3uJtbBPwKaRoHlqysjLs71OHeuLF-A1_U_SYTadTM7tWSJ5RXlhuSVRkNK3ZDOjXeOSBehTEaSiX8NhofbBPfnB76sXKJ=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_13.jpg" border="0" class="CToWUd">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>

                                                                        <td style="vertical-align:top;border-collapse:collapse;padding:0" valign="top">
                                                                            <table style="border-spacing:0;border-collapse:collapse;width:200px;margin:0 auto;padding:0">
                                                                                <tbody>
                                                                                    <tr style="padding:0">
                                                                                        <td style="border-collapse:collapse;width:100%!important;padding:0em">
                                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWBSSCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqjE_VNNaHgIGt9QHyf5fz8PxuBYa_Tub-PZI4-edtfxLsvnfci5SBAaGuzXpfCqcdrf4hG0LGbYpXKWnUC1w_XeTf568aJ0Ccur7P5OX6ziYUw." title="ZALORA Magazine" target="_blank">
                                                                                                <img height="63" width="200" style="min-height:63px;width:200px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="ZALORA Magazine" src="https://ci3.googleusercontent.com/proxy/bWXY616BJ8Cn3yEnqiY4aYkBjt0_vf9Ayo7KkBrBFi82Ooe4lsfUCM_mEOIkzsVIZ3fwK87cDP_KeNiyfVFSLHFiIv7ko8jDeiXgbYtCDwoPOBGkpXXdUQk=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/2015mar/magazine.png" border="0" class="CToWUd">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <img height="21" width="600" style="min-height:21px;width:600px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto" src="https://ci3.googleusercontent.com/proxy/sUQTn3QT4OPxn-lTtbEeNhmtPpfvxBt0cJVYYaJGlgI4HURby3LOQXKxqByxdtmgLcPCQx1zenLimGKobWhn_zemVwcRG6fFrKZImw-NVDkhZ4CH4sd2yDJqtSlnxoNz=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_18.jpg" border="0" class="CToWUd">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqnjc4XvAVDso_Q7M2-pIQXk2eXwJpaxbGPedTstbcxzdN7DEq-BwRv37MGLk8LcvmRIqdDIVo5gYfC_XuM5_5WnnHwpj2KQfuMKuwRQlr_JZtw." title="FACEBOOK" target="_blank">
                                                                                <img height="70" width="215" style="min-height:70px;width:215px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="FACEBOOK" src="https://ci5.googleusercontent.com/proxy/6upYmMEnrng6NtMeZewxPZOqc2mUevDiECAKKIthhvj6eU8QayUbTXZuc9TyVaPm5o9NWUJ6wrht76lhKz_2upT9efJg04OcJ9H2L0fEIaLii86DW4RUbzjHIlik_h8T=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_20.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYRY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqnjc4XvAVDso_Q7M2-pIQXk2eXwJpaxbGPedTstbcxzdN7DEq-BwRv37MGLk8LcvmRIqdDIVo5gYfC_XuM5_5WnnHwpj2KQfuMKuwRQlr_JZtw." title="FACEBOOK" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="FACEBOOK" src="https://ci5.googleusercontent.com/proxy/AFnCjkXiLs1RQLZmE6Qsj5-ew0BbZWyEy-LXXu-lsVUe3vkJkpZ7e-CnkPWITym6HcQuqa-v1WtMwGCWP6Km-bp3h28qJ0QPyYxV90hhSRXNjOpStXVsnfeyGG2Sc7qQ=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_21.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSATY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqkyfYCZUbWKLQk6D3QfBJ7kCURaRtv4FIS_Im4bZJXMsjzSQtZLPfyOQnrxiof1uu7WXKEkbJ_wkvaWG4560b2JS-OKuXXk29003373_F37NaqFx." title="G+" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="G+" src="https://ci4.googleusercontent.com/proxy/iTRLLxcCp5Fpnq1WQGbHNdpshM90Aumi_Uoc5ak0lDg_csJhVFbOkKOrQxjMXpxqyjPZSapAhc1tlV7tnBomBrMUK4ueFgpJ--yp_CLdGEQEnoRFdR7mWQBSHnQkjdL0=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_22.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqj608Nw8AmuAVPGCbPzHXESpAsBCFXRvhnqKDPKYaWEkEjIeBemQIvUsukZyfEEpdGBGDIpY6b5-1lTttFKVl65-XPfQxXOeH0MsntjlaXc-Im8." title="INSTA" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="INSTA" src="https://ci3.googleusercontent.com/proxy/2yg8ukS5yDKaEX3UsyVSVBSNK2qlgGPM7AfiKScxgv6ZuQRfHxMnwyJ5vwRmzeH6iwSRDvvkPWvCCyL685pwSAN7ow-EvPR3LxVwLiOellp5Ct3bmKc1RuCxBUklor0v=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_23.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqqZkEH8BGpTZoHJygnZL4KFT35-7QhSiMDzGdOveS1wSuBCLT2de7yEgrCFBbGpbnezBs2cnjuSmSkAVLZLvCdm_YU3uS3UoUN9607YlmYxu." title="YOUTUBE" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="YOUTUBE" src="https://ci4.googleusercontent.com/proxy/Gipv0QWLZezRJhyjULHK_N_NY4pVgji0t17HSgy7mTyhxSbq-hpMMGg1JhgNbtjgtsIZSR8XrcdflT9WETa6GUN0GjLwHmijEC9Hwn5DyaBMGDbms108bhP65FyI6qfb=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_24.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DTWWBSTTY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqqMnHPGf99p7J3ZP5l5EuC6LIsMAQkYv2lYuDNgKa_9HJRAijIbDS5_BGYxcL9kQ6Sbve6i5e9ayTVoFoYFgOjCsYJoA5ehld6oYpzRn-g." title="VIBER" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="VIBER" src="https://ci3.googleusercontent.com/proxy/NiuPABMC3LJ_beHSH8mg_Nqq9ZhwPaM7YrYdxxsUxQCvFTy7jLGKNQOc-PSSBcH3G7ezXk4BzyBtE5Qrz94rSluYdJjE_TrIOu9ajLM9-hcSz0NnOOrjgml2GN_9B-Qt=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_25.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYCY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqk4cksF-t2YPNWx69VSFa9bWcsrfJe4Kcx6dUA1bHCC3NiWHzekx_-eJyhHyWtH4XR2qemfOVLAf8NT4WmDtf6MKGv3u9fb1DGnjM6tQlJwzQL8." title="PIN" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="PIN" src="https://ci5.googleusercontent.com/proxy/jrhJCT_FA8b-Ox-JcXqdqalUeMS17k-pY6mQ3Yl4AvEB686Vgg6XjhFoDZu9VhNfix3UdlurKlBaTcEWlGldcAUwK9tUq66-gA_wPwRX7qEG-12X3kDhvMF9tgd3HJQn=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_26.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;padding:0">
                                                                            <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSYAY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqpGLBZE_nJjXB41HMeKKjpV0ExRxQRTwHdTm5lw5f4_H7Z03yKdApJxt_FcyrH7zd2-Fesy0JRsryr8u-ukePPAdU4-tljevrUAspHX2R67E." title="TWITTER" target="_blank">
                                                                                <img height="70" width="55" style="min-height:70px;width:55px;outline:none;text-decoration:none;max-width:100%;float:none;clear:both;display:block;margin:0 auto;border:none" alt="TWITTER" src="https://ci5.googleusercontent.com/proxy/sTTaebsA84aQtPDylwzEQBYW9NplSwKL0yp3HUneIWSMyT2u6IaQSoCrYvAmxnCRPG-NaMDMTyXpGAIZT_UQO8f1SqGLi__WH6fGdwgq9tF7C_HaS5Ufq2sDqhQlVGCL=s0-d-e1-ft#http://images.partner.zalora.com/crm/vn/footer/jan2015/mc/footer_vn_27.jpg" border="0" class="CToWUd">
                                                                            </a>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;width:0px;padding:0"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table><table style="border-spacing:0;border-collapse:collapse;width:100%!important;padding:0">
                                                                <tbody>
                                                                    <tr style="padding:0">
                                                                        <td style="border-collapse:collapse;text-align:center;color:#222222;font-family:'Helvetica','Arial',sans-serif;font-weight:normal;font-size:12px;margin:0;padding:10px" align="center">
                                                                            <small style="color:#999;font-size:11px">
                                                                                B?n dang nh?n b?n tin v?i email <a href="mailto:lauthuy18@yahoo.com.vn" target="_blank">lauthuy18@yahoo.com.vn</a><br>
                                                                                Ð? không b? l? nh?ng co h?i gi?m giá b?t ng?, hãy thêm <span style="font-weight:bold;color:#777"><a href="mailto:campaigns@e.zalora.vn" target="_blank">campaigns@e.zalora.vn</a></span> vào d?a ch? lien l?c.<br>
                                                                                Thông tin c?a b?n du?c b?o m?t v?i <a rel="nofollow" href="https://email.zalora.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlYQGuEzgRRMmozaY1cbbuzaArE5zeRNqFnH19aM3HzfkVXtpKX%3DSWWCSAWY&amp;_ei_=EmKw7b8wc39AGbHzXbi74rGIzHxvj5aVxHeP5HgPIuymNLw8M7jl9_O9DFS2T78W1CFIYslEdUf5YPObwH2n8bOW3lvsg8o24gymKCOT-4KcBRkGMNOc29sZ6DxMxv-eqmnWWg5UL2e9diIM7bRHyPTqaJGbexFAfO6gfmZfaPk21a4oxMeO2NrEjO7D_mEMCZSLooQ9BmamyeW5hVuZC8Twiem9viTz-0WsVM5GqZKGv_B8t1tA." style="font-weight:bold;color:#777;text-decoration:none" target="_blank">Chính sách</a> c?a ZALORA.<br><br><br>
                                                                                © 2015 ZALORA | Cty TNHH MTV Bán L? &amp; Giao Nh?n Recess.<br>
                                                                                T?ng 2, s? 12 Tôn Ð?n, P.13, Q.4, TP.HCM, Vi?t Nam.
                                                                            </small>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td height="0" width="0">

                                        <img src="https://ci4.googleusercontent.com/proxy/Hl5vYKFwu8xm-E9CSC0YNGGif2xeyyt4lBXUVs5pHlRVlEsqzOu2D-Zez1AJj9Fqt_RDG95dgnKsuYL3SRPI=s0-d-e1-ft#https://bounceexchange.com/tag/em/842.gif" width="1" height="1" border="0" class="CToWUd">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>