@{
    var lstArticleType = (List<HTTelecom.Domain.Core.DataContext.mss.ArticleType>)ViewBag.ListArticleType;
    var lstArticle = (List<HTTelecom.Domain.Core.DataContext.mss.Article>)ViewBag.ListArticle;
    var index = 1;
}
<div class="accordion accordion1">
    @foreach (var item in lstArticleType)
    {
        var lstArticleItem = lstArticle.Where(n => n.ArticleTypeId == item.Code).ToList();
        <div class="accordion-section">
            <a class="accordion-section-header collapsible-header" data-target="#accordion-@index">@item.ArticleTypeName</a>
            <div id="accordion-@index" class="accordion-section-content">
                @if (lstArticleItem.Count > 0)
                {
                    foreach (var itemArticle in lstArticleItem)
                    {
                        <p class="backgournd-color-white">
                            <a href="@Url.Action("Info", "Article", new { id = itemArticle.ArticleId })">@itemArticle.Title</a>
                        </p>
                    }
                }
            </div>
        </div>
                index++;
    }
</div>
