<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Xone Ads</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper" style="text-align:center;">
            <h3 style=" color: white; margin: 13px;">&copy; @DateTime.Now.Year - GALAGALA</h3><button class="btn"  onclick="window.location.href='http://localhost:7300/Rss.xml'" class="float-right" style="position: absolute; top: 8px; right: 9px; width: 100px; background: #FF8600; color: white;">
                RSS
            </button>
        </div>
    </footer>
    <style>
        footer {
            clear: both;
            background-color: #e2e2e2;
            font-size: .8em;
            height: 50px;
            position: fixed;
            bottom: 0px;
            width: 100%;
            left: 0px;
            background: #777;
            color: white;
        }
    </style>
</body>
</html>
