@model List<HTTelecom.Domain.Core.DataContext.mss.ProductInMedia>
@foreach (var item in Model)
{
    var hrefProduct = item.Product.ProductTypeCode == "PT1" ? "OrdProduct" : item.Product.ProductTypeCode == "PT2" ? "SaleProduct" : item.Product.ProductTypeCode == "PT3" ? "ChargeProduct" : "FreeProduct";
    <div style="width: 150px; height: 84px; white-space: nowrap;display:inline-block;">
        <div class="card" style="width: 150px; height: 84px; border-right: 1px solid #d5d5d5;">
            <div class="card-image" style="position:relative;">
                <a href="@Url.Action(hrefProduct, "Product", new { id = item.Product.ProductId, urlName = item.Product.Alias, urlNameStore = item.Product.Store.Alias })">
                    <img src="@(HTTelecom.WebUI.eCommerce.Common.HTXoneServer.Connect + item.Media.Url + item.Media.MediaName)" alt="@item.Product.ProductName" height="84" width="150">
                </a>
            </div>
        </div>
    </div>
}