<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.LayoutTitle</title>
    <script src="~/Scripts/jquery-1.11.2.js"></script>
    <link href="~/Content/Desktop/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Desktop/jquery.wm-zoom-1.0.css" rel="stylesheet" />
    <script src="~/Scripts/Desktop/jquery.wm-zoom-1.0.js"></script>
</head>
<body style=" font-family: futurab !important;">
    <div id="header" style="height:112px;">
        <div class="yui3-u-1 hd">
            <div class="eyebrow wide">
                <ul class="yui3-g" style="list-style: none; margin: 0px;">
                    <li class="yui3-u"> <a class="home uh-ico" href="" hpp="eb1">Home</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb2">Store</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb3">Product</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb4">Brand+</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb6">Category</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb7">Login</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb8">Vendor</a> </li>
                    <li class="yui3-u"> <a class="link" href="" hpp="eb9">Customer Service</a> </li>
                </ul>
            </div>
        </div>
        <div class="yui3-u-1 bd wide" id="yui_3_16_0_1_1437539625662_1452" style="width:980px;">
            <div class="yahooLogo ylogo" id="yui_3_16_0_1_1437539625662_1538">
                <a href="//tw.buy.yahoo.com/" hpp="hd1" id="yui_3_16_0_1_1437539625662_1537"></a>
            </div>
            <div id="uh" class="searchbar" hpp="sbar">
                ádsa
            </div>

            <!-- w28.shp.tp2.yahoo.com Wed Jul 22 09:55:53 CST 2015 -->

            <div class="persona type_tabber">
                <ul class="yui3-g fastlink" style="list-style:none;">
                    <li class="yui3-u myaccount" id="myaccount">
                        <a class="txt yui3-g" hpp="hd2" rel="nofollow" href="">
                            <i class="uh-ico"></i>  <span class="yui3-u">Infor</span>
                        </a>
                        @*<ul class="flmenu arrow">
                                <li>
                                    <a hpp="my1" rel="nofollow" href="https://tw.buy.yahoo.com/myaccount/home">
                                        <u>帳戶總覽</u>
                                    </a>
                                </li>
                                <li><a hpp="my8" rel="nofollow" href="https://tw.buy.yahoo.com/help/helper.asp?p=cs"><u>客服中心</u></a></li>
                            </ul>*@
                    </li>
                    <li class="yui3-u signin" login="">
                        <span class="txt">｜</span>
                        <a class="txt" hpp="hdsignin" rel="nofollow" href="">Dang ky</a>
                    </li>
                    <li class="yui3-u shopcart last" id="shopcart" data-cart-url=""
                        data-login-url="">
                        <a class="txt" hpp="hd3" rel="nofollow" href="">
                            <i class="uh-ico"><b id="cartTotalCount" class="badge empty"></b></i> <span>Gio Hang</span>
                        </a>
                         @*<ul class="flmenu arrow">
                            <li class="home">
                                <a hpp="cart1" rel="nofollow" href=""> <u>宅配</u> <b class="count badge"></b> <b class="price">$</b> </a>
                            </li>
                            <li class="express"> <a hpp="cart2" rel="nofollow" href="https://tw.buy.yahoo.com/pay/shoppingcart.aspx?ct=40"> <u>24H送到</u> <b class="count badge"></b> <b class="price">$</b> </a> </li>
                            <li class="store"> <a hpp="cart3" rel="nofollow" href="https://tw.buy.yahoo.com/pay/shoppingcart.aspx?ct=50"> <u>超商取貨</u> <b class="count badge"></b> <b class="price">$</b> </a> </li>
                        </ul>*@
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="nav-bar" style="height:36px;">
        Navbar
    </div>
    <div id="main-content">
        <div id="main-left" style="width: 16.656%; min-height:300px;display: inline-block; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; float: left; ">
            aaaaaaaa
        </div>
        <div id="main-right" style="width: 83.33%; display: inline-block; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; float: left; ">
            @RenderBody()
        </div>
        <div class="clearfix">

        </div>
    </div>
    <div id="footer">
        footer
    </div>
    <style>
        .clearfix{
            clear:both;
        } 
        body {
            margin: auto;
            color: #333;
            text-align: left;
            font: 13px/1.231 FreeSans,Arimo,"Droid Sans",Arial,Helvetica,sans-serif,"Microsoft JhengHei";
            width: auto;
            margin: 0 auto;
        }

        #header {
            width: 100%;
            position: relative;
            min-width: 950px;
            z-index: 150;
            min-width: 950px;
        }

        #nav-bar {
            z-index: 20;
            height: 36px;
            width: 950px;
            margin: 0 auto;
            position: relative;
        }

        #main-content {
            zoom: 1;
            letter-spacing: normal;
            word-spacing: normal;
            vertical-align: top;
            text-rendering: auto;
            width: 950px;
            margin: 0 auto;
            position: relative;
            min-height: 500px;
        }

        #footer {
            text-rendering: optimizespeed;
            padding: 10px 0;
            border-top: 1px solid #aeabb7;
            white-space: nowrap;
            color: #5f5f5f;
            width: 950px;
            margin: 0 auto;
            position: relative;
            margin: 10px auto;
        }

        #header {
            width: 100%;
            position: relative;
            min-width: 950px;
        }

            #header .hd {
                background-color: #2d1152;
            }

            #header .bd {
                position: relative;
                height: 85px;
            }

            #header .uh-ico {
                /*background: url(uh_sprite.png?t=1506260423);*/
            }

            #header .eyebrow {
                height: 27px;
                line-height: 27px;
            }

                #header .eyebrow a {
                    color: #fff;
                }

                #header .eyebrow li {
                    margin-right: 30px;
                }

                #header .eyebrow .home {
                    display: inline-block;
                    /*padding-left: 23px;*/
                    background-position: -582px 4px;
                }

            #header .ylogo {
                background-size: 350px 40px;
                display: block;
                height: 40px;
                width: 175px;
                float: left;
                margin-top: 24px;
            }

                #header .ylogo a {
                    height: 40px;
                    display: block;
                    overflow: hidden;
                    text-indent: 100%;
                    white-space: nowrap;
                }

            #header .wide {
                max-width: 1220px;
                min-width: 950px;
                *width: 950px;
                margin: 0 auto;
            }

            #header .hide {
                display: none;
            }

            #header #top_search {
                position: absolute;
                left: 175px;
                max-width: 710px;
                right: 28%;
            }

            #header .vh {
                clip: rect(1px,1px,1px,1px);
                position: absolute;
                overflow: hidden;
                width: 1px !important;
                border: 0 none !important;
                height: 1px !important;
                overflow: hidden;
                position: absolute !important;
            }

            #header .searchwrapper {
                position: relative;
                width: 100%;
                margin-top: 26px;
            }

            #header .searchwrapper-inner {
                background-color: #fff;
                height: 31px;
                left: 0;
                right: 210px;
                position: absolute;
                border: 1px solid #d1d1d5;
            }

                #header .searchwrapper-inner table {
                    width: 100%;
                }

            #header .searchbtn {
                border-radius: 5px;
                height: 31px;
                text-align: center;
                line-height: 31px;
                width: 98px;
                font-size: 116%;
                cursor: pointer;
                border: 1px solid #d9d9d9;
            }

            #header #UHSearchWeb, #header #UHSearchStore, #header #UHSearchFast {
                position: absolute;
                right: 0;
            }

            #header #UHSearchProperty {
                position: absolute;
                right: 105px;
            }

            #header .srp-sbar-cat {
                height: 31px;
                *height: 29px;
                line-height: 31px;
                *line-height: 29px;
                background-color: #efefef;
                border-right: 1px solid #d1d1d5;
                width: 10%;
                word-break: keep-all;
                white-space: nowrap;
            }

                #header .srp-sbar-cat .cat-box, #header .srp-sbar-cat .total {
                    margin: 0 18px 0 8px;
                    position: relative;
                }

                #header .srp-sbar-cat .uh-ico {
                    cursor: pointer;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    top: 10px;
                    right: -14px;
                    *top: 4px;
                }

            #header .cat-selector {
                display: none;
                background-color: #fff;
                border: 1px solid #00a9d1;
                position: absolute;
                border-top: 0;
                left: 0;
                padding: 0 10px 0 8px;
                top: 32px;
                left: -9px;
                cursor: pointer;
            }

            #header .cat-box .uh-ico {
                background-position: 2px -391px;
            }

            #header .total .arrow_down {
                background-position: -137px -301px;
            }

            #header .total .arrow_up {
                background-position: -64px -343px;
                display: none;
            }

            #header .clicked .arrow_down {
                display: none;
            }

            #header .clicked .arrow_up, #header .clicked .cat-selector {
                display: block;
            }

            #header .srp-sbar-ip {
                overflow: hidden;
                line-height: 27px;
            }

                #header .srp-sbar-ip input {
                    width: 95%;
                    height: 31px;
                    *height: 29px;
                    line-height: 31px;
                    *line-height: 29px;
                    border: 0;
                    border: 0;
                    box-shadow: none;
                    margin: 0 6px;
                    line-height: 31px;
                    outline: 0;
                }

                #header .srp-sbar-ip .yui3-aclist {
                    z-index: 300;
                }

                    #header .srp-sbar-ip .yui3-aclist .yui3-aclist-content {
                        border: 1px solid #dfdfe1;
                        box-shadow: none;
                        border-top: 0;
                        margin-top: 1px;
                    }

                    #header .srp-sbar-ip .yui3-aclist .yui3-aclist-item-hover {
                        background: 0;
                    }

                    #header .srp-sbar-ip .yui3-aclist .yui3-aclist-item-active .srp-ac-item {
                        background-color: #eee;
                        color: #333;
                    }

                #header .srp-sbar-ip .yui3-aclist-item {
                    padding: 0;
                }

                #header .srp-sbar-ip .srp-ac-item {
                    padding-left: 5px;
                    font-weight: normal;
                }

                    #header .srp-sbar-ip .srp-ac-item span {
                        font-weight: normal;
                        margin: 0 2px;
                    }

                    #header .srp-sbar-ip .srp-ac-item .yui3-highlight {
                        color: #080;
                        font-weight: bold;
                    }

                    #header .srp-sbar-ip .srp-ac-item.srp-ac-splus em {
                        color: #6e329d;
                        font-weight: normal;
                    }

                    #header .srp-sbar-ip .srp-ac-item.srp-ac-ctg em {
                        color: #f45611;
                        font-weight: bold;
                    }

                    #header .srp-sbar-ip .srp-ac-item.srp-ac-fast em {
                        color: #f45611;
                        font-weight: bold;
                    }

                #header .srp-sbar-ip .srp-ac-bt.first {
                    border-top: 1px solid #dfdfe1;
                }

                #header .srp-sbar-ip .srp-ac-bt {
                    height: 31px;
                    color: #666;
                    padding-left: 10px;
                    background-color: #f5f5f5;
                    line-height: 31px;
                }

                #header .srp-sbar-ip .yui3-aclist .yui3-aclist-item-active .srp-ac-bt {
                    color: #666;
                }

            #header .type_tabber {
                width: 28%;
                position: absolute;
                right: 0;
                text-align: right;
                font-weight: bold;
                padding-right: 5px;
            }

                #header .type_tabber .fastlink {
                    margin-top: 30px;
                    float: right;
                }

                    #header .type_tabber .fastlink li {
                        position: relative;
                        float:left;
                    }

                #header .type_tabber li {
                    height: 40px;
                    position: relative;
                }

                #header .type_tabber .uh-ico {
                    display: block;
                    float: left;
                    height: 27px;
                    width: 27px;
                    margin-right: 5px;
                }

                #header .type_tabber .myaccount i {
                    background-position: -502px -47px;
                }

                #header .type_tabber span {
                    height: 30px;
                    line-height: 30px;
                }

                #header .type_tabber li.last {
                    margin-left: 25px;
                }

                #header .type_tabber .hover .flmenu {
                    display: block;
                }

                #header .type_tabber .flmenu {
                    display: none;
                    position: absolute;
                    margin-top: 6px;
                    z-index: 200;
                    background-color: #FFF;
                    border: 1px solid #d9d9d9;
                    box-shadow: 0 2px 4px rgba(34,25,25,0.1);
                    text-align: left;
                    top: 28px;
                    border-radius: 5px;
                }

                    #header .type_tabber .flmenu a {
                        color: #000;
                        margin: 8px 10px;
                        display: block;
                        white-space: nowrap;
                        font-size: 116%;
                        font-weight: normal;
                        line-height: 19px;
                        line-height: 21px\9;
                        height: 18px;
                        *height: auto;
                    }

                    #header .type_tabber .flmenu li {
                        border-bottom: 1px solid #e2e2e6;
                        height: auto;
                    }

                        #header .type_tabber .flmenu li.last {
                            border: 0;
                            margin: 0;
                        }

                #header .type_tabber .arrow:before, #header .type_tabber .arrow:after {
                    left: 50%;
                    margin-left: -7px;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 7px;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: 100%;
                    border-top-width: 0;
                }

                #header .type_tabber .arrow:before {
                    border-bottom-color: #d9d9d9;
                }

                #header .type_tabber .arrow:after {
                    border-bottom-color: #FFF;
                    margin-bottom: -1px;
                }

        body #header {
            z-index: 150;
            min-width: 950px;
        }

            body #header .hd {
                height: 27px;
                border-bottom: 1px solid #2a1448;
                background-color: #250e44;
                border-bottom: 1px solid #2a1448;
            }

                body #header .hd .eyebrow {
                    height: 27px;
                    width: 950px;
                }

                    body #header .hd .eyebrow li {
                        margin: 0 25px 0 5px;
                        float: left;
                    }

            body #header .bd {
                position: relative;
                height: 84px;
            }

                body #header .bd .yahooLogo {
                    position: absolute;
                    top: 0;
                    left: 5px;
                    height: 40px;
                    width: 175px;
                }

                body #header .bd .searchbar {
                    position: relative;
                    height: 84px;
                    margin: 0 290px 0 175px;
                }

                body #header .bd .persona {
                    position: absolute;
                    top: 26px;
                    right: 5px;
                }

            body #header .myaccount .flmenu {
                width: 131px;
                right: -50px;
                display: none;
                opacity: 0;
            }

            body #header .shopcart .flmenu {
                width: 215px;
                right: -4px;
                display: none;
                opacity: 0;
            }

            body #header .type_tabber {
                width: 275px;
            }

                body #header .type_tabber .txt {
                    color: #5f5f5f;
                    font-weight: normal;
                }

                    body #header .type_tabber .txt span {
                        vertical-align: middle;
                    }

                body #header .type_tabber .fastlink {
                    margin-top: 3px;
                    white-space: nowrap;
                    float: none;
                }

                body #header .type_tabber .shopcart {
                    margin-left: 20px;
                }

                body #header .type_tabber .uh-ico {
                    border-radius: 3px;
                }

                body #header .type_tabber .myaccount .uh-ico {
                    background-position: -502px -47px;
                }

                body #header .type_tabber .shopcart .uh-ico {
                    background-position: -420px -95px;
                }

                body #header .type_tabber .shopcart .arrow:before, body #header .type_tabber .shopcart .arrow:after {
                    left: auto;
                    right: 20px;
                }

                body #header .type_tabber .flmenu a {
                    color: #3f3f3f;
                    margin: 10px 0;
                    text-indent: 20px;
                }

                    body #header .type_tabber .flmenu a u {
                        text-decoration: none;
                    }

                    body #header .type_tabber .flmenu a:hover {
                        color: #7a00a7;
                        text-decoration: none;
                    }

                        body #header .type_tabber .flmenu a:hover u {
                            text-decoration: underline;
                        }

            body #header .searchwrapper-inner {
                border: 1px solid #7590f5;
            }

            body #header #top_search {
                margin: 0;
                left: 0;
                right: 0;
                max-width: none;
            }

            body #header #UHSearchWeb {
                background-color: #3261c3;
                border: 0;
                color: #fff;
                -webkit-appearance: none;
            }

            body #header #UHSearchFast {
                background-color: #c00;
                border: 0;
                color: #fff;
                -webkit-appearance: none;
            }

            body #header #UHSearchProperty {
                background-color: #7a00a7;
                border: 0;
                color: #fff;
                -webkit-appearance: none;
            }

            body #header .ylogo {
                display: block;
                width: 175px;
                height: 40px;
                background-size: 175px 40px;
                background-repeat: no-repeat;
                background-image: url(http://galagala.vn:88/Images/logo_web.png);
                _background-image: url(http://galagala.vn:88/Images/logo_web.png);
            }

                body #header .ylogo a {
                    display: block;
                    overflow: hidden;
                    text-indent: 100%;
                    white-space: nowrap;
                    height: 40px;
                }
    </style>
</body>
</html>
